{% extends 'base.html' %}

{% block content %}
<main>
  <form method="post">
    {% csrf_token %}
    <h2>Delete {{ todolist }}?</h2>
    {{ form.as_p }}
    <div class="control">
      <button class="button">Delete</button>
    </div>
  </form>
</main>
{% endblock content %}