{% extends 'base.html' %}

{% block content %}
<main>
  <h1>My lists</h1>
  <a href="{% url 'todo_new' %}">Create a new list</a>
  <a href="{% url 'todo_item_new' %}">Create a new item</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todolist_list %}
      <tr>
        <td><a href="{% url 'todo_detail' todo.id %}">{{ todo }}</a></td>
        <td>{{ todo.items.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}