{% extends 'base.html' %}

{% block content %}
<main class="">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="">
      <button class="">Create</button>
    </div>
  </form>
</main>
{% endblock content %}
