<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo</title>
    <link rel="stylesheet" href="" />
  </head>

  <body>
    <header>

    </header>
    <main>{% block content %} {% endblock content %}</main>
    <footer></footer>
  </body>
</html>
